.calculator{
    /* display: flex; */
width: 90%;
margin: 0;
}
.calculator__form{
display: flex;
justify-content: space-around;
margin: 0;

width: 100%;
}
.calculator__wrapper{
    width: 90%;
    margin: 0;

}
.calculator__element{
    display: flex;
    flex-direction: column;
    max-width: 94%;
    margin: 0;

}


.calculator__input-container{

}
.calculator__input{
    height: 40px;
    padding: 0;
    margin: 0;

}
.calculator__input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 0.5em; /* spacing between items */
    grid-row-gap:0.5em;
    width: 100%;
  }
  
  .grid-item {
    /*addanystylesyouwantforthegriditems*/border: 1px solid #ccc;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    padding: 10%;
    background-color: #00474B;
    color: #fff;
    text-align: center;
    margin: 0;
}
.grid-item_active{
    background-color:#26C2AE ;
}
.grid-item-custom{
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    background-color: #F3F9FA;
    border-radius: 0.3em;
    border: 0.1px solid #ccc;


}
.grid-item-custom::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
.grid-item-custom::placeholder{
    color:#547878;

}