.main {
  /* display: flex; */
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 3% 0;

  background-color: #fff;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}

@media (max-width: 925px) {
  .main {
    width: 70%;
  }
}

@media (max-width: 580px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .main {
    width: 97%;
  }
}
