.main{
    display: flex;

    justify-content: center;
flex-wrap: wrap;
    max-width: 60rem;
    height: 28rem;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}